# Dataset pesado (92MB)
online_retail_clean.csv

# Binarios de Go y archivos compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin
bin/
out/

# Carpetas del sistema y de editores
.idea/
.vscode/
.DS_Store
Thumbs.db

# Temporales
*.log
.gemini/
